@import "../../variables";

.about {
  width: 100%;
  background: $accentColor;

  .contentWrapper {
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: space-around;
    width: 100%;
    max-width: 2000px;
    margin: auto auto;

    .left, .right {
      flex-grow: 1;
      flex-shrink: 1;
      width: 50vh;
    }

    .left {
      //width: 50vw;
      height: 100vh;
      overflow: hidden;
      perspective: 50px;
      margin: auto auto;
      background: rgba(255,255,255,0.00);
      color: rgba(255,255,255,0.01);
      //box-shadow: inset -10px 10px 50px rgba(0,0,0,0.5);

      p {
        font-size: 5vh;
        //width: 50vw;
        overflow: hidden;
        transform: scale(1.75) translate(0, -25%);
        position: absolute;
        top: 50%;
      }

      .image {
        box-shadow: 5px 5px 100px rgba(0,0,0,0.5);
        position: absolute;
        top: 25vh;
        left: 25%;
        z-index: 4;
        width: 50%;
        height: 50vh;
        background-image: url("../../rsc/tristan.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }

    }

    .right .wrapper {
      //width: 25vw;
      //min-width: 12.5vh;
      padding: 10vw;
      text-align: justify;
      margin: auto auto;

      label {
        text-transform: uppercase;
        font-size: 1vh;
        font-weight: bold;
      }

      .contact {
        font-size: inherit;
      }
    }
  }
}